
<style>
    p {
        color: #1E291E;
        text-align: justify;
        line-height: 3rem;
        font-size: medium;
        font-family: Times New Roman, Times, serif;
    }

    h3 {
        margin-top:20px; font-weight:bolder; font-size: medium; color: #3A5AFF; text-transform: uppercase;
        text-align: left;
    }
    .img_style{
        float: right;
    }



</style>
<div class="container text-center">
    <br>
    <h2>About Kiel</h2><hr/>

    <div class="row">
        <div class="col-md-5">
            <img class="" width="400px" height="400px" src="/images/home_images/about_img.jpg" alt="About_Image">
        </div>

        <div class="text_align col-md-7">
            <p>  Kiel is the capital of Schleswig-Holstein. As Holstenstadt TomKyle founded in the 13th century, it was in 1900, with more than
                100,000 inhabitants to big city. Today Kiel is one of the 30 largest cities in Germany with 246,306 inhabitants and forms the
                centre of the Kiel region.</p>
        </div>
            <br/>

            <li style="float:left; font-size: large"><b>City Structure</b></li>
            <br/><br/><br/><br/><br/><br/><br/>

            <h3>History</h3>

        <p>  During the Second World War, Kiel was severely bombed, because of its submarine-producing shipyard. Both civil and ships are being built in Kiel nowadays and the tall cranes dominate the eastern shore of the Förde (fjord).
            The bombing destroyed almost all historic buildings in Kiel; even the older looking buildings were built after WW2. So, if you come to the "Kieler Schloss" (Kieler Castle) don't be disappointed. There isn't much left of the original building. During the rebuilding after WW2, mostly modern architecture was used.
            Water has been important to the history of Kiel and continues to be so. Be it the annual Kieler Woche or the fact that the German Navy used to be stationed here and still enjoys a major presence in the city.

        </p>
        <hr/>
            <li style="float:left; font-size: large"><b>Get In</b></li>
        <br /><br /><br /><br /><br />

        <div class="row">
            <div class="col-md-6">


                <p>Kiel has a relatively good public transport system based on buses and ferries, both operated by VRK [2]. The taxi service is good, but expensive.
                    Kiel is very flat, and bicycles can be hired at various places. It is quite an easy day to ride from Kiel to Laboe, catch a ferry to Strande, and
                    cycle back to Kiel.</p>

        <h3>By boat</h3>
           <p>Kiel serves as the German ferry terminus for the ferries to Oslo, Norway with Color Lines, Gothenburg, Sweden with Stena Lines and Klaipeda,
               Lithuania with DFDS Seaways.</p>
        <h3>By train</h3>
           <p>Kiel Hauptbahnhof is located directly adjacent to the main bus terminal and across the road from the central shopping district. Kiel is connected to
               the DB rail system with regular RE and IC services to Hamburg and beyond. Transfers can be made in Flensburg or Lübeck to Danish Rail.</p>

        <h3>By bus</h3>
           <p>A number of bus lines run services to - or through - Kiel. A weekly bus leaves Kiel and travels via Poland and the Baltic states to Tallinn, Estonia.
               A comfortable bus operates daily from Germany's capital, Berlin, to Kiel via Lübeck and vice versa (6 hours, 41 Euros one-way).
             </p>

            </div>

            <div class="col-md-6">
                <img class="img_style" width="550px" height="400px" src="/images/home_images/about_img.jpg" alt="About_Image">
                <br><br /><br /><br /><br /><br /><br />

                <h3>By Plane</h3>
                <p>Kiel has its own airport (IATA: KEL) (ICAO: EDHK) in "Holtenau" (north-west). Planes of the size of a BAe 146 can start and land. Charter flights leave for other Scandinavian destinations. At the moment, there are no regular services.
                    The nearest major airport is Hamburg, about 100km/one hour by car away. Another possibility is the airport Lübeck, about 80 km/1h 20 min away, where Ryanair operates some low cost flights each day.
                    Westerland also has an airport.</p>
            </div>

        </div>

        <hr/>



        <li style="float:left; font-size:large"><b>Kieler Woche</b></li>
       <p>Besides being world's largest sailing event the Kieler Woche is one of Germany's largest festivals. Apart from the sailing, the entire center of the town is transformed into an international food and craft fair, with regular big name performers appearing nightly. If you intend to visit Kiel during this time book your hotel well ahead and bear in mind that the waterfront and major parts of downtown will be inaccessible for cars.
        Information on events is posted all over town and through a free magazine which will be distributed about a month before the event. Events include entertainment for kids during daytime throughout the entire week and lots of open air concerts. Most concerts end around 11PM and nightlife moves to indoor venues as well as the Eggerstedtstrasse.
        Aside from an abundance of food and drink outlets along the streets the International Market on the Rathausmarkt is the place to go for food and drink.
           A few dozen countries operate booths on the open-air market offering food and drinks from the particular countries. The Kieler Nachrichten newspaper runs a
           special about food on the market in its Saturday edition. If you cannot decide from the endless choices head over to the Scandinavian area or to
           wherever crowds are gathering.</p>

        <li style="float:left; font-size:large"><b>Museum am meer</b></li><br/><br/>
        <p>Eight of Kiel’s museums aim to make use of their common potential, offered not only by their special location right on the edge of Kiel Fjord, but above all by their long scientific tradition. All museums of the association are reachable within an hour simply by taking a stroll around Kiel city centre.
            The following museums are part of the museen am meer association:</p>
        <ul>
            <li>Antikensammlung (Collection of Classical Antiquities): Face to face with antiquity: collection of Greek vases as well as casts of important Roman and Greek sculptures unique to Schleswig-Holstein.</li>
            <li>Aquarium GEOMAR: From Baltic Sea herring to tropical seahorse: local and exotic sea creatures presented in aquariums that simulate their natural habitats, outdoor seal pool and public feeding of the seals.</li>
            <li>Kunsthalle zu Kiel (Museum of Fine Arts): Art from the Dürer era through to the present day: permanent collection spanning all artistic genres, including works by Repin, Nolde and Richter, as well as special exhibitions on specific topics and artists.</li>
            <li>Medizin- & Pharmaziehistorische Sammlung (Museum of Medical & Pharmaceutical History): Insight into the history of medicine and pharmaceuticals: exhibition of historic instruments, collection of pathology specimens, interior of an old pharmacy and a doctor’s office.</li>
            <li>Schifffahrtsmuseum (City and Maritime Museum): In the former fish auction hall, built in 1910: permanent exhibition on Kiel’s maritime history, pier with historic ships.</li>
            <li>Stadtgalerie Kiel (Kiel Municipal Gallery of Contemporary Arts): New contemporary art: exhibitions of regional and international contemporary art, art from the Baltic Sea region, permanent exhibition of the works of the Expressionist artist Heinrich Ehmsen.</li>
            <li>Stadtmuseum Warleberger Hof (City and Maritime Museum): Traces of Kiel history: permanent exhibition on the early history of the city and exhibitions on social and cultural history.</li>
            <li>Zoologisches Museum (Zoological Museum Kiel): Experience marine and evolutionary research at first hand: exciting display on the subject of marine science and research, Germany’s most extensive exhibition of whale species, presentation of the origins of zoology in Kiel.</li>

        </ul>

        <hr/>

        <li style="float:left; font-size:large"><b>Buy</b></li><br/><br/>
        <p>A variety of shops are located in the pedestrian zone Holstenstraße and the mall Sophienhof.
            Another relatively big mall is the Citti-Park from where you can also access the huge Ikea shop.
            Numerous cafes are located in the old town center at the northern tip of the Holstenstraße near the "Nikolaikirche" (Nikolai church).
            An outdoor shopping area is the busy Holtenauer Straße with lots of cafes and more upscale stores towards the south end near the Dreiecksplatz.
            Be aware that many shops and stores do not accept payment by card, And that ATM's can be hard to find.</p>

       <li style="float:left; font-size:large"><b>Eat</b></li><br/><br/>
        <p>The best ever German/Turkish Döner kebabs can be found at Garips Imbiss, located on the corner of the Metzstrasse and Wörthstrasse(off of the Westring).
            There are convenient food courts in Kieler Hauptbahnhof (train station) and the shopping mall across from the train station (Sophienhof).
            For something different, try the "Kartoffel Keller" (Potato cellar), where everything has potato as the theme - the potato pizza is very good.
            Other good cafes and pubs can be found in the old city centre. Nice breakfast buffet in the weekend in Cafe Louf next to the water near
            the "Reventloubrücke".</p>

        <li style="float:left; font-size:large"><b>Drink</b></li><br/><br/>

        <hr/>
        <h3>Cafes and Pubs</h3>

                <p>Subrosa is Kiel's alternative pub and bistro, situated in Kiel-Gaarden. Elisabethstr. 25.</p>
            <ul>
                <li>Unrat is the place for Kiel's students to talk philosophy, drink a cheap beer or listen to some live band. Spichernstr. 2, to enter from Metzstr.</li>
                <li>Prinz Willy is a "creative" Café that offers live-music, arts, poetry and much more at Lutherstrasse 9.</li>
                <li>Exlex is the number one meeting point for students and young folks downtown. Right in the middle of Kiel at Ziegelteich 14.</li>
                <li>Blauer Engel at the quai by the central station. A convenient café / bar / nightclub with a nice view and outdoor serving.</li>
                <li>Cafe Medusa is situated in a backyard in Medusastr. 16 in Kiel's multicultural district Gaarden on the east coast of the Kiel Fjord. It hosts live-music and readings.</li>
            </ul>
        <hr/>
            <h3>Bars</h3>

            <li style="float:left; font-size:large">Chaplin's in Waisenhofstraße. Piano player and cocktails.</li><br/><br/>

            <h3>Clubs</h3>
        <p>Kiel's clubs are spread out all across the city. Although some locals prefer doing the one-hour drive to Hamburg to go out,
            Kiel has some clubs that are worth being checked out. Make sure you have had a look at the Fördeflüsterer site  before going out to get the
            most accurate information on all night live events. Most clubs have a 5 € cover fee.</p>

            <ul>
                <li>Pumpe  A community-run cultural center showing independent movies, providing room for community projects, concerts, bars and parties. On Thursday night students dance soul, reggae and funk at the FunkPump party.</li>
                <li>Luna  Located in the Bergstraße this club hosts parties ranging from electronic tunes to Soul/Funk and Ragga. Cover charge might be higher if nationally-recognized DJs operate the turntables.</li>
                <li>Max  Standard R'n'B, techno club.</li>
                <li>Schaubude</li>
                <li>Traumgmbh  Incorporating a restaurant, an independent movie theater, and a club, the Traumgmbh is likely to offer something that is just right for you. If you're over the age of 30, the Ü30 party is THE party to go to. Watch out! They'll check your ID!</li>
                <li>Osho</li>
                <li>Weltruf The interior of the Weltruf is dominated by a ship which has been built inside and cannot be removed.</li>
            </ul>
        <hr/>
       <h3>Parties</h3>
        <p>Not exactly in the category of clubs are the various parties that take places in different parts of the city. Traditionally on Thursdays between
            October and April all the big university departments organize Studentenparties on and off campus. Expect somewhat cheap drinks and hundreds of
            university students dancing to a mix of pop, rock and r'n'b. Sometimes there are even live bands or second dance floors. On the weekends several
            fancier parties are hosted in unusual locations throughout Kiel. You'll be dancing to house music in a show room of a car dealer or in the terminal
            of the ferry to Scandinavia. Tickets for these parties can bought in advance which will save you money and time. Check the Kiel4Kiel site to find out
            where tickets are sold or ask a local student.</p>

            <h3>Live Music</h3>
        <p>When it comes down to live music, Kiel is not the city where you'll be able to see big headliners. If you're into that you'll have to go to Hamburg.
            Still, you might be able to listen to some decent live music while staying in Kiel. The Halle400, the MAX and the community-operated Pumpe host local
            and international acts. Surprisingly good German or Scandinavian acts can sometimes be spotted in the Schaubude or the Nachtcafé for very little money.
            On occasion, some clubs like the Luna host national-recognized DJs. The best place to find out who's playing and to get a ticket is Konzertkasse
            Streiber close to the Ostseehalle.</p>

        <hr/>

        <li style="float:left; font-size:large">Sleep:</li><br/><br/>
       <p>The Youth Hostel is close to the Hauptbahnhof. There are a number of moderately priced hotels in the city centre. For some Olympic history, stay at
           Olympiazentrum in Schilksee, the sailing athletes village for the 1972 Munich Games. Top end is the Strande Hotel in Strande, or the Kieler-Kauffman
           just north of the city centre.</p>
        <h4>Budget</h4>
        <ul>
            <li>Peanuts Hostel  Harriesstraße 2, 24114 Kiel</li>
            <li>Bekpek  Kronshagener Weg 130 a, 24118 Kiel</li>
            <li>Kieler Zimmer  Bed & Breakfast, 550 m from Central Station, 24114 Kiel (max. for 3 persons, shared bath with shower)</li>
        </ul>

        <h4>Mid-Range</h4>
        <ul>
            <li>Nordic Hotel Astor  In the city center, close to main train station and ferry connections. Singles from 60E, doubles 80E. Rooms have 70ties charm but
                are clean. Bar on highest floor has a great view of the city.</li>
            <li>Twilightblue hotels in Kiel</li>
        </ul>

        <h4>Luxury</h4>
        <ul>
            <li>Steigenberger Hotel Conti-Hansa  Located between the historic parts of Kiel and the F&oouml;rde. Rates around 115E.</li>
            <li>Birke - Ringhotel Kiel . A few minutes away from city center by car. Good service and amenities. Parking spaces available.</li>
            <li>Hotel Kieler Yacht Club . Right on the waterfront, north of the city center. Ask for a room with a view of the fjord.</li>
            <li>Youth Experiences</li>
            <li>Romantik Hotel Kieler Kaufmann . Classic location in the middle of an extensive park area. House with an unique atmosphere. Parking spaces available.</li>
        </ul>




    </div>
    <hr/>

</div>
