
<div>
<form class="form-horizontal" action="contactuspage" method="post">

    <h1>
        <!-- Form Name -->
        <legend>Contact US</legend>
    </h1>

    <!-- Multiple Radios -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="radios">Gender</label>
        <div class="col-md-8">
            <div class="radio col-md-4">
                <label for="radios-0">
                    <input type="radio" name="radios" id="male" value="1" checked="checked"> Male
                </label>
            </div>
            <div class="radio col-md-4">
                <label for="radios-0">
                    <input type="radio" name="radios" id="female" value="1" checked="checked"> Female
                </label>
            </div>
        </div>
    </div>
    </br>

    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-2">
            <label class=" control-label" for="textsurname">Family Name</label>
            </div>
            <div class="col-md-4">
            <input id="textsurname" name="textsurname" type="text" placeholder="familyname" class="form-control input-md" required="">
            </div>
            <div class="col-md-2">
            <label class=" control-label" for="textfirstname">First Name</label>
            </div>
            <div class="col-md-4">
            <input id="textfirstname" name="textfirstname" type="text" placeholder="firstname" class="form-control input-md" required="">
            </div>
        </div>
    </div>
    <br/>

    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-2">
            <label class=" control-label" for="textstreet">Street/House No</label>
            </div>
            <div class="col-md-4">
            <input id="textstreet" name="textstreet" type="text" placeholder="HouseNo" class="form-control input-md">
            </div>
            <div class="col-md-2">
            <label class=" control-label" for="textpostal">Postal Code/CIty</label>
        </div>
            <div class="col-md-4">
            <input id="textpostal" name="textpostal" type="text" placeholder="postalcode/city" class="form-control input-md" required="">
        </div>
        </div>
    </div>
    <br/>


    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-2">
            <label class="control-label" for="textphone">Phone</label>
            </div>
            <div class="col-md-4">
            <input id="textphone" name="textphone" type="text" placeholder="phone" class="form-control input-md" required="">
            </div>
            <div class="col-md-2">
            <label class="control-label" for="textemail">E-mail</label>
            </div>
            <div class="col-md-4">
            <input id="textemail" name="textemail" type="text" placeholder="email" class="form-control input-md" required="">
            </div>
        </div>
    </div>

    <br/>
    <!-- Textarea -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="textmessage">Message</label>
        <div class="col-md-4">
            <textarea class="form-control" id="textmessage" name="textmessage"></textarea>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
            <button id="submit" name="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>


</form>
</div>

