
<!--  style for template of images for home  -->
    <style>

        .carousel-inner img {
            width: 70%; /* Set width to 100% */
            margin: auto;
            min-height:200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }

        .kiel_city{
            margin-left: 20px;
            align: center;
        }

        .shopping p{
            padding: 10px;
            text-align: justify;
        }

        .text_exp{
            margin: 20px 0px;
            background-color: #DEEEDE;
            padding: 20px;
            font-family: "Courier New";
        }

    </style>



<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/img_4.jpg" alt="Image" >
                <div class="carousel-caption">
                    <h3>Welcome to Kiel City</h3>
                    <p>The sailing city of the west</p>
                </div>
            </div>
            <div class="item">
                <img src="images/img_2.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Experience the best restaurant around</h3>
                    <p>Get the taste of life and friendly environment</p>
                </div>
            </div>
            <div class="item">
                <img src="images/img_5.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>You can never ne lost...</h3>
                    <p>Meet warm and friendly people that are willing to help at any given time</p>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    </div>
</div>


<!-- events area      -->
<div class="container text-center row kiel_city">
    <br>
    <h2>Welcome to Kiel</h2><hr/>

    <div class="shopping col-md-4">
        <img class="shipping" width="250px" height="200px" src="/images/home_images/sp_1.jpg" alt="Cruise_Image">
        <h4><b>AIDA Cruise</b></h4>
        <p>Gigantic ferries to Scandinavia, cruise liners from all over the world, shopping malls, baltic beaches and the cultural scene make
            the life worth living in the city centre of Kiel. Through its unique location at Kiel Fjord,</p>
    </div>

    <div class="shopping col-md-4">
        <img class="city" width="250px" height="200px" src="/images/home_images/sp_2.jpg" alt="Cruise_Image">
        <h4><b>Exciting City Life</b></h4>
        <p>Gigantic ferries to Scandinavia, cruise liners from all over the world, shopping malls, baltic beaches and the cultural scene make
            the life worth living in the city centre of Kiel. Through its unique location at Kiel Fjord,</p>
    </div>

    <div class="shopping col-md-4">
        <img class="malls" width="250px" height="200px" src="/images/home_images/sp_3.jpg" alt="Cruise_Image">
        <h4><b>Shopping Malls</b></h4>
        <p>Gigantic ferries to Scandinavia, cruise liners from all over the world, shopping malls, baltic beaches and the cultural scene make
            the life worth living in the city centre of Kiel. Through its unique location at Kiel Fjord,</p>

    </div>
</div><hr/>



    <div class="row col-md-12 text_exp">
        <p>"....my experience in Kiel has been one of the memorable adventure of my life! The feeling is simply amazing</p>
    </div><hr/>

        <div class="row">
            <div class="col-md-2">
                <h5><b>Are you looking for an accommodation?</b></h5>
                <p><small>Then search no more! We've got one of the best hotels and apartments in town. We can help you make a booking 24/7 at your convenience</small></p>
            </div>

            <div class="col-md-5">
                <img class="malls" width="400px" height="200px" src="/images/home_images/ht_1.jpg" alt="Hotel">
            </div>

            <div class="col-md-5">
                <img class="malls" width="400px" height="200px" src="/images/home_images/ht_2.jpg" alt="Hotel">
            </div>
         </div>
<hr/>




</div>
</div><br>


