<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
//            $( "#datepicker2" ).datepicker();
        } );
    </script>
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Book Hotel</div>
            <div class="panel-body">
                <form action="newBooking" method="post">
                        <div class="form-group">
                            <label>Arrival Date:</label>
                            <input class="dateFrom form-control" type="text" id="datepicker" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>How many adults?</label>
                            <select class="form-control" id="adults">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nights:</label>
                            <select class="form-control" id="nights">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                        </div>
                    <input id="myButton" type="submit" class="float-left submit-button btn btn-primary" value="Search" />
                </form>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $("#myButton").click(function () {
        var selNights = $("#nights").val();
        var selAdultsSearchLine1 = $("#adults").val();
        var selArrivalDate = $.datepicker.formatDate;
        var dateTime = new Date($("#datepicker").datepicker("getDate"));
        var strDateTime =  dateTime.getDate() + "/" + (dateTime.getMonth()+1) + "/" + dateTime.getFullYear();
        var day = dateTime.getDate();
        var month = dateTime.getMonth()+1;
        var year = dateTime.getFullYear();

//alert(dateTime.getDate());
        window.location.href = "https://web4.deskline.net/kiel4/en/accommodation/qfind?selNights=" + selNights +  "&selArrivalDate="+year+""+month+""+day+"&selAdultsSearchLine1=" + selAdultsSearchLine1 + "&selNumberOfUnits=1&customHeader=false&customFooter=false"
        return false;
    });
</script>
<script>
    $(document).ready(function() {
//        $("#datepicker").datepicker();
        $("#datepicker").datepicker("setDate", new Date());
    });
    $("input.dateFrom").datepicker({
        minDate:0
    });
</script>