<!DOCTYPE html>
<html lang="en">
<head>
   <!-- basic needs  -->

    <% include template/header.ejs %>

<!-- for the content that other pages need this page   -->
<%- include(page_name) %>


<!--footer -->

<% include template/footer.ejs %>

</body>
</html>
